@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to C# Warrior, may the odds be ever in your favor!</h2>
<p>{{ "Hello " + name }}</p>

<textarea ng-model="code" cols="100" rows="20"></textarea><br/>
<select ng-model="level">
    <option value="1">Level 1</option>
    <option value="2">Level 2</option>
</select><br/>
<button ng-click="run()">Run</button><br/>
<pre ng-bind="output"></pre>