@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to C# Warrior, may the odds be ever in your favor!</h2>
{{ "Hello " + name }}


<textarea ng-model="code" cols="100" rows="20"></textarea><br/>
<button ng-click="run()">Run</button><br/>
<span ng-bind="output"></span>